.logo {
  padding: 15px;
}

// Allow single-column documentation
.single-column {
  .content {
    h1, h2, h3, h4, h5, h6, p, table, ul, ol, aside, dl, pre, blockquote {
      width: 100%;
      float: none;
      display: block;
    }
  }
  .dark-box {
    display: none;
  }
}